*{
    background-color: black;
    color: white;
   }
   .fa-bars{
    font-size: 20px;
    
   }
   .fa-bars:hover{
    background-color: grey;
    color: black;
   }
   .first{
    background-color: red;height: 50px;border-radius: 50px;
    
   }
   .first:hover{background-color: grey;
    color: black;

   }
   .second{
    margin-left: 360px; height: 50px; width: 120px;border-radius: 50px;background-color: black;border-color: white;color: white;
   }
   .second:hover{background-color: grey;
    color: black;

   }
   .third{
    margin-left: 150px; height: 50px; width: 120px;border-radius: 50px;background-color: black;border-color: white;color: white;
   }
   .third:hover{background-color: grey;
    color: black;}
    .fourth{
        margin-left: 90px; height: 53px;border-radius: 50px;background-color: black;border-color: white;color: white;
    }
    .fourth:hover{background-color: grey;
        color: black;}
        .fifth{
            height: 50px; border-radius: 50px;font-size: 20px;border-color: white;background-color: black;color: white;
        }
        .fifth:hover{background-color: grey;
            color: black;}
            .sixth{
                height: 50px; border-radius: 50px;font-size: 20px;border-color: white;background-color: black;color: white;
            }
            .sixth:hover{background-color: grey;
                color: black;}
                .fa-angle-up{
                    color: white;
                    font-size: 50px;
                
                }
                .fa-angle-up:hover{background-color: grey;
                    color: black;}
                    .flex{
                        position: relative;
                        left: 500px;
                        bottom: 5px;
                    }
                    .top{
                        position: relative;
                        bottom: 2px;
                    }