/* *{
    box-shadow: 5px 5px 3px black ;
} */
.board{
    width: fit-content;
    border: 10px solid #11262e;
    border-radius: 5px;
    margin: auto;
    position: relative;
    bottom: 450px;
    
  }
  .row{ display: flex;
    /* box-shadow: 5px 5px 3px black ;*/ } 
  .box{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    /* box-shadow: 5px 5px 3px black ;   */
}
  
  .red-section{ 
    background-color: red; 
    width: 250px; /* 600/15*6 */
    height: 250px;
    /* box-shadow: 5px 5px 3px black ;   */
}
  
  .green-section{ 
    background-color: green; 
    width: 250px; /* 600/15*6 */
    height: 250px;
  }
  
  .blue-section{ 
    background-color: blue; 
    width: 250px; /* 600/15*6 */
    height: 250px;
  }
  
  .yellow-section{ 
    background-color: yellow; 
    width: 250px; /* 600/15*6 */
    height: 250px;
  }
  
  .winning-section{
    border-top: 63px solid green;
    border-left: 63px solid red;
    border-right: 63px solid yellow;
    border-bottom: 63px solid blue;
  }
  
  .red{ background-color: red; }
  .green{ background-color: green; }
  .blue{ background-color: blue; }
  .yellow{ background-color: yellow; }
  .black-border{ border: 1px solid black; }
  .white{ 
    background-color: white; width: 150px; height: 150px; 
    margin: 20% auto;
    border: 1px solid black;
  }
  .white div{
    border-radius: 50%;
    width: 40px; height: 40px;
    float: left;
    margin: 16px;
    border: 1px solid black;
  }
  #red-1:hover{background-color: black;
    transform: scale(1.2);
  }
  #red-1{
    transition: background-color 1s ,transform 2s;
    cursor: pointer;
  }
  .green-2:hover{background-color: black;
    transform: scale(1.2);
  }
  .green-2{
    transition: background-color 1s ,transform 2s;
    cursor: pointer;
  }
  .blue-1:hover{background-color: black;
    transform: scale(1.2);
  }
  .blue-1{
    transition: background-color 1s ,transform 2s;
    cursor: pointer;
  }
  .yellow-1:hover{background-color: black;
    transform: scale(1.2);
  }
  .yellow-1{
    transition: background-color 1s ,transform 2s;
    cursor: pointer;
  }
  .fa-arrow-right{
    color: red;
    font-size: 30px;
    box-shadow: none;
    position: relative;
    left: 7px;
    top: 5px;
  }
  .fa-arrow-up{
    color: blue;
    font-size: 30px;
    box-shadow: none;
    position: relative;
    left: 10px;
    top: 7px;
  }
    .fa-arrow-left{
        color:yellow;
    font-size: 30px;
    box-shadow: none;
    position: relative;
    left: 8px;
    top: 7px;
    }
    .fa-arrow-down{
        color:green;
    font-size: 30px;
    box-shadow: none;
    position: relative;
    left: 10px;
    top: 5px;
    }
  .fa-star{
    font-size: 35px;
    box-shadow: none;
    margin-top: 3px;
    margin-left: 1px;
  }
  
  h1{ text-align: center; } 

  .bounce{
    animation: bouncing 0.5s ease 0s infinite alternate both;
    /* background: darkblue; */
    /* border-radius: 50%; */
    display: inline-block;
    margin-top: 250px;
    /* color: white; */
    cursor: pointer;
    /* font-size: 20px; */
    /* font-weight: 300; */
    /* letter-spacing: 0.2em; */
    /* padding: 1em 2em 1.1em; */
    position: relative;
    left: 50px;
    /* text-decoration: none; */
    text-transform: uppercase;
    vertical-align: top;
    /* margin-top: 300px; */
    /* height: 200px; */
    /* line-height: 100px; */
    /* text-align: center; */
}

@keyframes bouncing{
    0% {
        bottom:0;
        box-shadow: 0 0 5px rgb(0, 0, 0.5);
    }
    100%{
        bottom:100px ;
        box-shadow: 0 50px 50px rgb(0, 0, 0.1);
    }
}